/* ContactPage */
.bodyCont {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  /* font-family: "Bree Serif", serif; */
  width: 100%;
}

.contact-container {
	  /* text-align: center;  */
	  display: flex;
	  justify-content: center;
	  flex-direction: row;
	  border: 2px solid black;
	  margin-top: -15%;
	  color: #000;
	}
	
	.row {
	  padding: 20px;
	  margin-top: 15%;
	}
	
	input {
	  border:none;
	  border-bottom: 1px solid darkgray;
	  padding: 20px;
	}
	
	textarea{
	  border:none;
	  border-bottom: 1px solid darkgray;
	  padding: 20px;
	}

	.col {
		/* border: 1px solid darkgray; */
		padding: 50px;
	  }
	  
	  .fill {
		color: #000;
	  }